body {
	margin-bottom: 15em;
	background-color: #F6F9F9;
}

.card-header {
	background-color: #012958;
	color: #FFFFFF;
}

.card .list-group-item:hover {
	background-color: #54B6C6;
	color: #FFFFFF;
}

.card .article-summary {
	font-size: 1em;
}

footer a {
	color: #FFFFFF;
}

@media screen and (min-width: 1080px) {
	body {
		margin-bottom: 6em;
	}
}
